* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #efefef;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #efefef;
}

textarea {
  resize: none;
}
